@charset "UTF-8";

@media screen and (min-width: 768px) and (max-width: 992px) {
	body { /* CONFIGURAÇÕES PARA TABLET */
		background-image: linear-gradient(to top, #0e60fd, #141209);
	}

	section#login {
		width: 90vw;
		height: 320px;
	}

	section#login > div#imagem {
		float: left;
		width: 35%;
		height: 100%;
	}

	section#login > div#form {
		float: right;
		width: 65%;
	}

	div#form > h1 {
		font-size: 1.5em;
	}

	div#form > p {
		font-size: 1em;
		margin: 10px;
	}

	div.campo > span {
		position: relative;
		top: 25%;
		padding-left: 5px;
	}
	
	div.campo > input {
		width: calc(98.2% - 22px);
		height: 100%;
		margin-left: 23px;
		border: 1px solid #00000066;
		border-radius: 3px;
		padding: 5px;

		transform: translate(10px, -27px);
	}
}

@media screen and (min-width: 992px) {
	body { /* CONFIGURAÇÕES DE TELAS DESKTOP */
		background-image: linear-gradient(to top, #141209, #0e60fd);
	}
	
	section#login {
		width: 75vw;
		height: 320px;
	}

	section#login > div#imagem {
		float: right;
		width: 40%;
		height: 100%;
	}

	section#login > div#form {
		float: left;
		width: 60%;
	}

	div#form > h1 {
		font-size: 2em;
	}

	div#form > p {
		font-size: 1em;
		margin: 10px;
	}

	div.campo > span {
		position: relative;
		top: 25%;
		padding-left: 5px;
	}
	
	div.campo > input {
		width: calc(98.7% - 22px);
		height: 100%;
		margin-left: 23px;
		border: 1px solid #00000066;
		border-radius: 3px;
		padding: 5px;

		transform: translate(10px, -27px);
	}
}